*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenido{
    width: 90vw;
    margin: 5px auto;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    background-color: rgb(250,250,250) !important;
}

.contenido .video{
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    width: 350px;
    height: auto;
    border: 1px solid gray;
    background-color: #fff;
    overflow-x: hidden;
}

.contenido .video iframe{
    width: inherit;
}

.contenido .video h2{
    margin: 5px 10px;
}
.contenido .video p{
    margin: 10px;
}